#wcag_resp_person_custom_metabox_item_1, #wcag_webmaster_custom_metabox_item_1 {
  position: relative;
  left: 30px; }

#wcag_resp_person_custom_metabox_item_2, #wcag_webmaster_custom_metabox_item_2 {
  position: relative;
  left: 20px; }

#wcag_resp_person_custom_metabox_item_3, #wcag_webmaster_custom_metabox_item_3 {
  position: relative;
  left: 39px; }

#wcag_resp_person_custom_metabox_item_4, #wcag_webmaster_custom_metabox_item_4 {
  position: relative;
  left: 68px; }

#wcag_resp_person_custom_metabox_item_5, #wcag_webmaster_custom_metabox_item_5 {
  position: relative;
  left: 40px; }

#wcag_resp_person_custom_metabox_item_6, #wcag_webmaster_custom_metabox_item_6 {
  position: relative;
  left: 48px; }

#wcag_resp_person_custom_metabox_item_7, #wcag_webmaster_custom_metabox_item_7 {
  position: relative;
  left: 20px; }