#rrze-tos {
    input[type=text]:focus,
    textarea:focus {
	box-shadow: 0 0 5px #51cbee;
	border: 1px solid #51cbee;
    }

    .error {
	color: red;
    }

    .submit_tos_form {
	margin-bottom: 30px;
    }

   

    .complaint {
	padding-top: 20px;
    }
    .alert p {
	font-size: 1.1rem;
	padding: 5px 0;  
    }

    @media (min-width: 768px) {


	

	textarea {
	    width: 750px !important;
	}
    }

}


