#rrze-tos {
    input[type=text]:focus,
    textarea:focus {
	box-shadow: 0 0 5px #51cbee;
	border: 1px solid #51cbee;
    }  
    input[type=submit] {
	margin-top: 10px;
	border: 3px solid #1f4c7a;
		color: white;
	background-color: #1f4c7a;
	
    }   
    
    input[type=submit]:focus,
    input[type=submit]:hover {
	background-color: white;
	color: #1f4c7a;
	border: 3px solid #1f4c7a;
    }   
     .error {
	color: red;
    }

    .submit_tos_form {
	margin-bottom: 30px;
    }
    .complaint {
	padding-top: 20px;
    }
    .alert p {
	font-size: 1.1rem;
	padding: 5px 0;  
    }

    @media (min-width: 768px) {


	

	textarea {
	    width: 750px !important;
	}
    }

}


