<p>
    Die öffentlichen Stellen sind gemäß der
    <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32018D1523" target="_blank"> EU Directive</a>
    über den barrierefreien Zugang zu den Webseites und mobilen Anwendungen öffentlicher Stellen
    verpflichtet Ihre Websites entsprechend den WCAG Kriterien umzusetzen. Diese Webseite wurde gemäß den
    Konformitätsbedingungen der WCAG geprüft.
</p>

<h3>Sind die Konformitätskriterien derzeit erfüllt?</h3>

{{rrze_tos_conformity}}
<div class="alert alert-success" role="alert">
    <span class="wcag-pass"></span>Die Kriterien werden erfüllt.
</div>
{{:rrze_tos_conformity}}
<div class="alert alert-info" role="alert">
    <span class="wcag-fail"></span>Die Kriterien werden nicht erfüllt.
    <h4>Begründung:</h4>
    {{=rrze_tos_no_reason}}
</div>
{{/rrze_tos_conformity}}
<h3>Probleme bei der Bedienung der Seite?</h3>
<h4 class="wcag-h3">Für diesen Webauftritt sind folgende Personen verantwortlich:</h4>

<div class="table-wrapper">
    <div class="scrollable">
        <table width="" border="1">
            <tbody>
                <tr>
					<td>
                        {{rrze_tos_responsible_name}}
                        {{=rrze_tos_responsible_name}}<br>
                        {{=rrze_tos_responsible_street}}<br>
                        {{=rrze_tos_responsible_city}}<br>
                        {{rrze_tos_responsible_phone}}
                        <strong>Telefon:</strong> {{=rrze_tos_responsible_phone}}<br>
                        {{/rrze_tos_responsible_phone}}
                        {{rrze_tos_responsible_email}}
                        <strong>E-Mail:</strong> {{=rrze_tos_responsible_email}}<br>
                        {{/rrze_tos_responsible_email}}
                        {{/rrze_tos_responsible_name}}
                    </td>
                    <td>
						{{rrze_tos_webmaster_name}}
                        {{=rrze_tos_webmaster_name}}<br>
                        {{=rrze_tos_webmaster_street}}<br>
                        {{=rrze_tos_webmaster_city}}<br>
						{{rrze_tos_webmaster_phone}}
                        <strong>Telefon:</strong> {{=rrze_tos_webmaster_phone}}<br>
						{{/rrze_tos_webmaster_phone}}
						{{rrze_tos_webmaster_email}}
                        <strong>E-Mail:</strong> {{=rrze_tos_webmaster_email}}<br>
						{{/rrze_tos_webmaster_email}}
						{{/rrze_tos_webmaster_name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{contact_form}}
<p>
    Wenn Sie Probleme bei der Benutzung dieser Website haben, schreiben Sie eine E-Mail an
    <a href="mailto:{{=rrze_tos_receiver_email}}?subject={{=rrze_tos_subject}}">{{=rrze_tos_receiver_email}}</a>
    oder füllen Sie das Feedback-Formular aus!
</p>
<h3>Feedback</h3>
{{=contact_form}}
{{/contact_form}}

<div class="complaint">
    <p>Wenn Sie das Gefühl, dass Sie nicht wird geholfen werden, können Sie die
        <a href="https://www.behindertenbeauftragte.de/DE/SchlichtungsstelleBGG/SchlichtungsstelleBGG_node.html" target="_blank">Schlich­tungs­stel­le nach § 16 BGG</a>
        kontaktieren.
    </p>
</div>
