<p>
    Public institutions are required by Directive (EU) 2016/2102 of the
    European Parliament and of the Council to make their websites and/or mobile
    applications accessible. For public authorities, the directive was
    implemented in Art. 13 BayBGG and BayBITV. This website has been reviewed
    in accordance with the above policy.
</p>

{{rrze_tos_conformity}}
<div class="alert alert-success" role="alert">
    <span class="wcag-pass"></span>This website fully complies with § 1 BayBITV.
</div>

{{:rrze_tos_conformity}}
<div class="alert alert-info" role="alert">
    <span class="wcag-fail"></span>This website does not comply with § 1 BayBITV.<br>
    <div>
        <h4>Justification:</h4>
        {{=rrze_tos_no_reason}}
    </div>
</div>
{{/rrze_tos_conformity}}

<h3>Problems with the operation of the site?</h3>
<h4 class="wcag-h3">The following people are responsible for this website:</h4>

<div class="table-wrapper">
    <div class="scrollable">
        <table width="" border="1">
            <tbody>
                <tr>
                    <td>
                        {{rrze_tos_responsible_name}}
                        {{=rrze_tos_responsible_name}}<br>
                        {{=rrze_tos_responsible_street}}<br>
                        {{=rrze_tos_responsible_city}}<br>
                        {{rrze_tos_responsible_phone}}
                        <strong>Phone:</strong> {{=rrze_tos_responsible_phone}}<br>
                        {{/rrze_tos_responsible_phone}}
                        {{rrze_tos_responsible_email}}
                        <strong>Email:</strong> {{=rrze_tos_responsible_email}}<br>
                        {{/rrze_tos_responsible_email}}
                        {{/rrze_tos_responsible_name}}
                    </td>
                    <td>
						{{rrze_tos_webmaster_name}}
                        {{=rrze_tos_webmaster_name}}<br>
                        {{=rrze_tos_webmaster_street}}<br>
                        {{=rrze_tos_webmaster_city}}<br>
						{{rrze_tos_webmaster_phone}}
                        <strong>Phone:</strong> {{=rrze_tos_webmaster_phone}}<br>
						{{/rrze_tos_webmaster_phone}}
						{{rrze_tos_webmaster_email}}
                        <strong>Email:</strong> {{=rrze_tos_webmaster_email}}<br>
						{{/rrze_tos_webmaster_email}}
						{{/rrze_tos_webmaster_name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{contact_form}}
<p>
    If you have any problems using this website, please write an email to
    <a href="mailto:{{=rrze_tos_receiver_email}}?subject={{=rrze_tos_subject}}">{{=rrze_tos_receiver_email}}</a>
    or fill out the feedback form.
</p>
<h3>Feedback</h3>
{{=contact_form}}
{{/contact_form}}

<div class="complaint">
    <p>
        If you feel that you are not being helped, you can contact the
        <a href="https://www.behindertenbeauftragter.de/EN/ArbitrationService/EN/EN_node.html" target="_blank">Arbitration Service.</a>
    </p>
</div>
