<p>
    {{rrze_tos_websites_more}}
    Dieses Impressum gilt für die Webauftritte unter den Adressen:<br>
    {{:rrze_tos_websites_more}}
    Dieses Impressum gilt für den Webauftritt unter der Adresse:<br>
    {{/rrze_tos_websites_more}}
    {{=websites}}
</p>

<h2>Herausgeber</h2>
<p>
    {{=rrze_tos_responsible_name}}<br>
    {{=rrze_tos_responsible_street}}<br>
    {{=rrze_tos_responsible_postalcode}}
    {{=rrze_tos_responsible_city}}
</p>

<h3>Vertreten durch</h3>
<p>
    {{=rrze_tos_webmaster_org}}
    ist eine Einrichtung des Öffentlichen Rechts innerhalb der 
    <a href="https://www.fau.de/">Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU)</a>.
</p>
<p>
    Gemäß Art. 4 Nr. 7 EU-DSGVO i.V.m. Art. 20, 21 BayHSchG
    wird die FAU als staatliche Einrichtung und Selbstverwaltungskörperschaft
    des öffentlichen Rechts nach außen durch den Präsidenten vertreten.
</p>

<h3>Verantwortlich für den Inhalt</h3>
<p>
    {{=rrze_tos_webmaster_name}}<br>
    {{=rrze_tos_webmaster_street}}<br>
    {{=rrze_tos_webmaster_postalcode}}
    {{=rrze_tos_webmaster_city}}
</p>
<p>
    {{phone}}
    Telefon: {{=phone}}<br>
    {{/phone}}
    {{fax}}
    Fax: {{=fax}}<br>
    {{/fax}}
    E-Mail: {{=rrze_tos_webmaster_email}}
</p>
{{=rrze_tos_webmaster_more}}

<h3>Zuständige Aufsichtsbehörde</h3>
<p>Bayerisches Staatsministerium für Wissenschaft und Kunst<br>
    Salvatorstraße 2<br>
    80327 München
</p>
<p>Webseite: https://www.km.bayern.de/</p>

<h3>Identifikationsnummern</h3>
<table>
    <tbody>
        <tr>
            <td>Umsatzsteuer-Identifikationsnummer
                (gemäß § 27a Umsatzsteuergesetz)</td>
            <td> DE 132507686</td>
        </tr>
        <tr>
            <td>Steuernummer</td>
            <td> 216/114/20045 (Finanzamt Erlangen)</td>
        </tr>
        <tr>
            <td>DUNS-Nummer</td>
            <td> 327958716</td>
        </tr>
        <tr>
            <td>EORI-Nummer</td>
            <td> DE4204891</td>
        </tr>
        <tr>
            <td>Bankverbindung</td>
            <td>Bayerische Landesbank München
                <ul>
                    <li>SWIFT/BIC-Code: BYLADEMMXXX</li>
                    <li>IBAN: DE66700500000301279280</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h2>Sicherheitsvorfälle</h2>
<h3>Meldung über Missbrauch von Computer- und Netzwerk-Ressourcen</h3>
<p>
    Sollte Ihnen irgendeine Form von Missbrauch der Computer- und
    Netzwerk-Ressourcen an der Friedrich-Alexander-Universität Erlangen-Nürnberg
    auffallen,
    <a href="https://www.rrze.fau.de/infocenter/kontakt-hilfe/sicherheitsvorfaelle/">
        informieren Sie bitte umgehend die für IT-Sicherheit
    </a>
    zuständige Stelle am RRZE.
</p>

<h2>Nutzungsbedingungen</h2>
<p>
    Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten
    können dem Urheberrecht unterliegen.
</p>
<p>
    Nicht urheberrechtlich geschützt sind nach § 5 des Urheberrechtsgesetz (UrhG)
</p>
<ul>
    <li>
        Gesetze, Verordnungen, amtliche Erlasse und Bekanntmachungen
        sowie Entscheidungen und amtlich verfasste Leitsätze zu Entscheidungen
        und
    </li>
    <li>andere amtliche Werke, die im amtlichen Interesse zur allgemeinen
        Kenntnisnahme veröffentlicht worden sind, mit der Einschränkung, dass
        die Bestimmungen über Änderungsverbot und Quellenangabe in § 62 Abs. 1
        bis 3 und § 63 Abs. 1 und 2 UrhG entsprechend anzuwenden sind.
    </li>
</ul>
<p>
    Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten
    und sonstigen eigenen Gebrauch im Rahmen des 
    <a class="icon icon-link_external" href="http://www.gesetze-im-internet.de/urhg/__53.html" rel="noopener">
        § 53 Urheberrechtsgesetz (UrhG)
    </a> 
    verwenden. Eine Vervielfältigung oder Verwendung dieser Seiten oder Teilen
    davon in anderen elektronischen oder gedruckten Publikationen und deren
    Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese erteilen
    auf Anfrage die für den Inhalt Verantwortlichen. Der Nachdruck und die
    Auswertung von Pressemitteilungen und Reden sind mit Quellenangabe allgemein
    gestattet.
</p>
<p>
    Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder
    teilweise dem Urheberrecht Dritter unterliegen. Auch über das Bestehen
    möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen
    nähere Auskünfte, sofern diese Rechte nicht bereits durch entsprechende
    Hinweise im Webangebot kenntlich gemacht sind.
</p>

<h2>Haftungsausschluss</h2>
<p>
    Für die Inhalte anderer Webangebote der FAU sind die jeweiligen
    Einrichtungen verantwortlich.
</p>
<p>
    Alle auf dieser Internetseite bereitgestellten Informationen haben wir nach
    bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für die
    jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der
    bereit gestellten Informationen können wir allerdings nicht übernehmen. Ein
    Vertragsverhältnis mit den Nutzern des Internetangebots kommt nicht
    zustande.
</p>
<p>
    Wir haften nicht für Schäden, die durch die Nutzung dieses Internetangebots
    entstehen. Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften des 
    <a href="http://www.gesetze-im-internet.de/bgb/__839.html" rel="noopener">
        § 839 des Bürgerlichen Gesetzbuches
    </a> 
    (Haftung bei Amtspflichtverletzung) einschlägig sind. Für etwaige Schäden,
    die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der
    Installation oder Nutzung von Software verursacht werden,
    wird nicht gehaftet.<br>
    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf
    diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
    Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
    übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach
    Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br>
    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen
    nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche
    Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
    Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
    Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br>
    Der Betreiber behält es sich ausdrücklich vor, einzelne Webseiten,
    Web-Dienste oder das gesamte Angebot ohne gesonderte Ankündigung zu
    verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
    endgültig einzustellen.
</p>

<h2>Haftung für Links</h2>
<p>
    Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte
    wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch
    keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
    jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten 
    Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
    überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
    erkennbar.<br>
    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
    konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
    Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
    entfernen.
</p>
