<p>
   Public authorities are obliged to make websites and mobile applications accessible in 
accordance with Directive (EU) 2016/2102 of the European Parliament and of the Council. 
The following accessibility statement documents the implementation status of this
website in accordance with the {{accessibility_url_law}}<a href="{{=accessibility_url_law}}">{{/accessibility_url_law}}applicable legislation{{accessibility_url_law}}</a>{{/accessibility_url_law}}.
     
{{websites}}
</p><p>
The accessibility statement belongs to the following website(s):
    <strong><em>{{=websites}}</em></strong>
{{/websites}}    
</p>




<h2>Compliance status</h2>

<div class="alert {{=accessibility_conformity_alertshortcodestyle}}">
     <p>{{=accessibility_conformity_text}}</p>
</div>
{{accessibility_conformity_filled}}
<table class="nobackground" style="width: auto;">
    {{accessibility_methodik_text}}
    <tr>
	<th>Methology:</th><td>{{=accessibility_methodik_text}}</td>
    </tr>
    {{/accessibility_methodik_text}}
    {{accessibility_creation_date_val}}
     <tr>
	<th>Creation Date</th><td>{{=accessibility_creation_date_val}}</td>
    </tr>
    {{/accessibility_creation_date_val}}
    {{accessibility_last_review_date_val}}
     <tr>
	<th>Last revision:</th><td>{{=accessibility_last_review_date_val}}</td>
    </tr>
    {{/accessibility_last_review_date_val}}
    {{accessibility_testurl}}
     <tr>
	 <th>Report:</th><td><a href="{{=accessibility_testurl}}">{{=accessibility_testurl}}</a></td>
    </tr>
     {{/accessibility_testurl}}
</table>

<h2>Known accessibility issues</h2>
<p>
    Listing and explanation of the problems with the implementation of the accessibility of this website.
</p>
{{/accessibility_conformity_filled}}

{{accessibility_non_accessible_info}}

<h3>Content that is not accessible to the disabled</h3>
{{=accessibility_non_accessible_content_list}}
{{=accessibility_non_accessible_content}}
{{/accessibility_non_accessible_info}}

{{accessibility_non_accessible_content_reasons}}
<h3>Reason</h3>
{{=accessibility_non_accessible_content_reasons}}
{{/accessibility_non_accessible_content_reasons}}

{{accessibility_non_accessible_content_alternatives}}

<h3>Alternative access routes</h3>
{{=accessibility_non_accessible_content_alternatives}}

{{/accessibility_non_accessible_content_alternatives}}
  

<h2>Help and contact in case of problems</h2>
<p>
    You may have shortcomings in meeting the requirements
    notify the accessibility or information that is not accessible
    be presented barrier-free.
</p>

<h3>Contact Person</h3>
{{accessibility_feedback_contactname}}
<p>{{=accessibility_feedback_contactname}}</p>
{{/accessibility_feedback_contactname}}

{{accessibility_feedback_address}}
<address>
    {{=accessibility_feedback_address}}
</address>
{{/accessibility_feedback_address}}

<ul class="person-info">
    {{accessibility_feedback_phone}}
    <li class="person-info-phone"><span class="screen-reader-text">Phone:</span> {{=accessibility_feedback_phone}}</li>
    {{/accessibility_feedback_phone}}
    {{accessibility_feedback_email}}
    <li class="person-info-email"><span class="screen-reader-text">EMail:</span> <a href="mailto:{{=accessibility_feedback_email}}">{{=accessibility_feedback_email}}</a></li>
    {{/accessibility_feedback_email}}
</ul>


{{contact_form}}
<h3>Contact form</h3>
{{=contact_form}}
{{/contact_form}}

<h2>Enforcement procedures</h2>
<p>
   Remains a request for the possibility of contact within six weeks
    in full or in part unanswered, the competent authority checks at the request of the user, whether in the context of
    Monitoring against the operators of the web offer measures are required.


</p>
<p>Contact information of the enforcement oversight body:</p>

<p><strong>{{=accessibility_controlling_name}}</strong></p>        
<address>
    {{accessibility_controlling_street}}
    {{=accessibility_controlling_street}}<br>
    {{/accessibility_controlling_street}}
    {{accessibility_controlling_city}}
    {{=accessibility_controlling_postalcode}}
    {{=accessibility_controlling_city}}
    {{/accessibility_controlling_city}}
</address>
<ul class="person-info">
    {{accessibility_controlling_phone}}
    <li class="person-info-phone"><span class="screen-reader-text">Phone: </span> {{=accessibility_controlling_phone}}</li>
    {{/accessibility_controlling_phone}}
    {{accessibility_controlling_fax}}
    <li class="person-info-fax"><span class="screen-reader-text">Fax:</span> {{=accessibility_controlling_fax}}</li>
    {{/accessibility_controlling_fax}}
    {{accessibility_controlling_email}}
    <li class="person-info-email"><span class="screen-reader-text">EMail:</span> <a href="mailto:{{=accessibility_controlling_email}}">{{=accessibility_controlling_email}}</a></li>
    {{/accessibility_controlling_email}}
    {{accessibility_controlling_url}}
    <li class="person-info-www"><span class="screen-reader-text">Web:</span> <a href="{{=accessibility_controlling_url}}">{{=accessibility_controlling_url}}</a></li>
    {{/accessibility_controlling_url}}
</ul>


