<p>
    Die öffentlichen Stellen sind gemäß der Richtlinie (EU) 2016/2102 des
    Europäischen Parlaments und des Rates dazu verpflichtet, ihre Webauftritte
    und/ oder mobilen Anwendungen barrierefrei zugänglich zu machen. Für Träger
    öffentlicher Gewalt wurde die Richtlinie in Art. 13 BayBGG und der BayBITV
    umgesetzt. Dieser Webauftritt wurde gemäß der obigen Richtlinie geprüft.
</p>

{{accessibility_conformity}}
<div class="alert alert-success" role="alert">
    <span class="wcag-pass"></span>Dieser Webauftritt {{=accessibility_conformity_val}}.
</div>
{{:accessibility_conformity}}
<div class="alert alert-info" role="alert">
    <span class="wcag-fail"></span>Dieser Webauftritt {{=accessibility_conformity_val}}.
    <h4>Nicht barrierefrei zugängliche Inhalte</h4>
    {{=accessibility_non_accessible_content}}
</div>
{{/accessibility_conformity}}

<p>
    Erstellungsdatum: {{=accessibility_creation_date_val}}<br>
    Methodik: {{=accessibility_methodology_val}}<br>
    Letzte Überprüfung: {{=accessibility_last_review_date_val}}
</p>

<h3>Feedback</h3>
<p>
    Sie können uns als Nutzer Mängel bei der Einhaltung der Anforderungen an
    die Barrierefreiheit mitteilen oder Informationen, die nicht barrierefrei
    dargestellt werden müssen, barrierefrei anfordern.
</p>

<h4>Kontaktinformationen</h4>

<p>
    Für diesen Webauftritt sind folgende Personen verantwortlich:
</p>

<div class="table-wrapper">
    <div class="scrollable">
        <table width="" border="1">
            <tbody>
                <tr>
					<td>
                        {{imprint_responsible_name}}
                        {{=imprint_responsible_name}}<br>
                        {{=imprint_responsible_street}}<br>
                        {{=imprint_responsible_city}}<br>
                        {{imprint_responsible_phone}}
                        <strong>Telefon:</strong> {{=imprint_responsible_phone}}<br>
                        {{/imprint_responsible_phone}}
                        {{imprint_responsible_email}}
                        <strong>E-Mail:</strong> {{=imprint_responsible_email}}<br>
                        {{/imprint_responsible_email}}
                        {{/imprint_responsible_name}}
                    </td>
                    <td>
						{{imprint_webmaster_name}}
                        {{=imprint_webmaster_name}}<br>
                        {{=imprint_webmaster_street}}<br>
                        {{=imprint_webmaster_city}}<br>
						{{imprint_webmaster_phone}}
                        <strong>Telefon:</strong> {{=imprint_webmaster_phone}}<br>
						{{/imprint_webmaster_phone}}
						{{imprint_webmaster_email}}
                        <strong>E-Mail:</strong> {{=imprint_webmaster_email}}<br>
						{{/imprint_webmaster_email}}
						{{/imprint_webmaster_name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{contact_form}}
<p>
    Wenn Sie Probleme bei der Benutzung dieses Webauftrittes haben, schreiben Sie eine E-Mail an
    <a href="mailto:{{=feedback_receiver_email}}?subject={{=feedback_subject}}">{{=feedback_receiver_email}}</a>
    oder füllen Sie das folgende Formular aus.
</p>
{{=contact_form}}
{{/contact_form}}

<h4>Durchsetzungsverfahren</h4>
<p>
    Bleibt eine Anfrage über die Kontaktmöglichkeit innerhalb von sechs Wochen
    ganz oder teilweise unbeantwortet, prüft das Landesamt für Digitalisierung,
    Breitband und Vermessung auf Antrag des Nutzers, ob im Rahmen der
    Überwachung gegenüber dem Verpflichteten Maßnahmen erforderlich sind.
</p>

<h4>Kontaktinformation der für das Durchsetzungsverfahen zuständigen Einrichtung</h4>
<p>
    Landesamt für Digitalisierung, Breitband und Vermessung
    Alexandrastraße 4<br>
    80538 München<br>
    Telefon: +49 89 2129-1111<br>
    Telefax: +49 89 2129-1113<br>
    E-Mail: service@geodaten.bayern.de<br>
    https://www.ldbv.bayern.de/service/kontakt.html<br>
</p>
