<p>
    According to Directive (EU) 2016/2102 of the European Parliament and of the
    Council, public institutions are obliged to make their websites and/or
    mobile applications accessible. For public authorities, the directive was
    implemented in Art. 13 BayBGG and BayBITV. This website has been tested in
    accordance with the above directive.
</p>

{{accessibility_conformity}}
<div class="alert alert-success" role="alert">
    <span class="wcag-pass"></span>This website {{=accessibility_conformity_val}}.
</div>
{{:accessibility_conformity}}
<div class="alert alert-info" role="alert">
    <span class="wcag-fail"></span>This website {{=accessibility_conformity_val}}.
    <h4>Non-accessible content</h4>
    {{=accessibility_non_accessible_content}}
</div>
{{/accessibility_conformity}}

<p>
    Creation date: {{=accessibility_creation_date_val}}<br>
    Methodology: {{=accessibility_methodology_val}}<br>
    Last review date: {{=accessibility_last_review_date_val}}
</p>

<h3>Feedback</h3>
<p>
    As a user, you can inform us of any shortcomings in complying with the
    accessibility requirements or request information that does not have to be
    accessibility compliant.
</p>

<h4>Contact</h4>

<p>
    The following persons are responsible for this website:
</p>

<div class="table-wrapper">
    <div class="scrollable">
        <table width="" border="1">
            <tbody>
                <tr>
					<td>
                        {{imprint_responsible_name}}
                        {{=imprint_responsible_name}}<br>
                        {{=imprint_responsible_street}}<br>
                        {{=imprint_responsible_city}}<br>
                        {{imprint_responsible_phone}}
                        <strong>Phone:</strong> {{=imprint_responsible_phone}}<br>
                        {{/imprint_responsible_phone}}
                        {{imprint_responsible_email}}
                        <strong>Email:</strong> {{=imprint_responsible_email}}<br>
                        {{/imprint_responsible_email}}
                        {{/imprint_responsible_name}}
                    </td>
                    <td>
						{{imprint_webmaster_name}}
                        {{=imprint_webmaster_name}}<br>
                        {{=imprint_webmaster_street}}<br>
                        {{=imprint_webmaster_city}}<br>
						{{imprint_webmaster_phone}}
                        <strong>Phone:</strong> {{=imprint_webmaster_phone}}<br>
						{{/imprint_webmaster_phone}}
						{{imprint_webmaster_email}}
                        <strong>Email:</strong> {{=imprint_webmaster_email}}<br>
						{{/imprint_webmaster_email}}
						{{/imprint_webmaster_name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{contact_form}}
<p>
    If you have any problems using this website, please send an email to
    <a href="mailto:{{=feedback_receiver_email}}?subject={{=feedback_subject}}">{{=feedback_receiver_email}}</a>
    or fill in the following form.
</p>
{{=contact_form}}
{{/contact_form}}

<h4>Enforcement procedure</h4>
<p>
    If a request for contact remains unanswered in whole or in part within six
    weeks, the State Office for Digitisation, Broadband and Surveying shall, at
    the request of the user, examine whether measures are necessary in
    connection with the monitoring of the obligated party.
</p>

<h4>Contact responsible for the enforcement procedure</h4>
<p>
    Landesamt für Digitalisierung, Breitband und Vermessung
    Alexandrastraße 4<br>
    80538 München<br>
    Telefon: +49 89 2129-1111<br>
    Telefax: +49 89 2129-1113<br>
    E-Mail: service@geodaten.bayern.de<br>
    https://www.ldbv.bayern.de/service/kontakt.html<br>
</p>
